body {
  margin: 0px;
  font-family:'sacramento', cursive; 
  font-family: 'raleway', sans-serif; 
  font-size: 15px;
}

header {
    width: 1200px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 120px;
    font-family: 'raleway', sans-serif;
}


/*---------NAV----------*/

nav {width: 100%; 
    background-color: #353535; 
    height: 5em;
    }

nav ul li {
    display: inline;
    font-family: 'raleway', sans-serif;
    font-size: 28px;
    color: darkslategray;
    text-decoration-line: none;
    
    }
nav ul {
    text-align: center;
    word-spacing: 10em;
    color: darkslategray;
    font-family: 'raleway', sans-serif;
    text-decoration-line: none;
    padding-top: 1.2em;
}

nav a {color: white; text-decoration: none;}
nav a:hover {color: #FFA8A8; }


h1,h2 {text-align: center;   font-family:'sacramento', cursive; 
}

.wrapper {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

#folio {
    font-family:'sacramento', cursive; 
    font-size: 1.5em;}

.grey {
  background-color: whitesmoke;
  color: #FFA8A8;
  border-radius: 5px;
  padding: 20px;
  font-size: 300%;
  text-align: center
}

.lightpink {
  background-color: #FDEBEB;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}


.infographic {
    background-image: url(../images/Artboard%203.png);
    background: cover; 
    text-align: right;
    padding: 15px;
    color: black;
    height: 110px;
    font-size: 50px;
  
}

.infographic a {
    color: #444; 
    text-decoration: none;}

.infographic a:hover {
    color: #FDEBEB;
}

.branding {
    background-image: url(../images/brand-chantelle.png);
    align-content: center;
    text-align: left;
   color: black;
    height: 110px;
    font-size: 50px;
    padding: 15px;
}

.branding a {
    color: #444; 
    text-decoration: none;}

.branding a:hover {
    color: #FFA8A8;
}

.travel-app {
    background-image: url(../images/travel-app-image.png);
    text-align: right;
    color: black;
    height: 110px;
    font-size: 50px;
    padding: 15px;
}

.travel-app a {
    color: #444; 
    text-decoration: none;}

.travel-app a:hover {
    color: #FFA8A8;
}


.social-medias {
    padding-top: 5px;
    padding-bottom: -100px;
    text-align: center;
    word-spacing: 30px;
    background-color: #FFA8A8;
    
}
.social-medias img {
    transition: all 0.3s ease-in-out;
    height: 30px;
}

.pin {fill: #ffffff;}
.pin:hover {fill: #000000;}




footer {
    padding-top: 40px;
    text-align: center;
    
}
















